.container {
  width: 75rem;
  margin: 1.9rem auto 0;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #39445a;
}

body.layout-body {
  /* min-height: 60vh;
  background-color: #39445a; */
  color: white;
  padding-top: 8.5rem;
  padding-bottom: 4.4rem;
}

@media (max-width: 700px) {
  body.layout-body {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}

